.container {
  /* background: linear-gradient(#e66465, #9198e5); */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100vw;
  height: 100vh; */
  flex: 1 0 auto;
  height: 100%;
}

.scrollText {
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 10rem;
  width: 40%;
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px #ffffff, 0 0 16px 16px #aaaaaa, 0 0 32px 32px transparent, 0 0 64px 64px black; */
}

.parallax {
  margin-right: 1.5rem;
}

.sticky {
  margin-left: 1.5rem;
  background-color: #ff6d6d;
}

/* .blue {
  background-color: #5b65ad;
  color: white;
} */

.moon {
  width: 107px;
  height: 107px;
  border-radius: 50%;

  background: radial-gradient(#d0d0d0, #d0d0d0, #d0d0d0);
  box-shadow: 0 0 8px 0px #d0d0d0, 0 0 16px 16px #b0b0b0, 0 0 32px 0px #a0a0a0,
    0 0 64px 16px #909090, 0 10px 128px 128px #b0b0b0;
}

.sun {
  /* background-color: #9d65d0; */
  width: 107px;
  height: 107px;
  border-radius: 50%;

  background: radial-gradient(#ffeb3b, #ffeb3b, #ffeb3b);
  /* box-shadow: 0 0 8px 0px #ffeb3b, 0 0 16px 16px #ffc107, 0 0 32px 0px #ff9800,
    0 0 64px 16px #ff5722; */
  box-shadow: 0 0 8px 0px #ffeb3b, 0 0 16px 16px #ffc107, 0 0 32px 0px #ff9800,
    0 0 64px 16px #ff5722, 0 10px 128px 128px #ffc83b;
}

@media (min-width: 40rem) {
  /* .card {
    width: 25%;
  } */

  .parallax {
    margin-right: 15%;
  }

  .sticky {
    margin-left: 15%;
  }
}
