.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.auth-form {
  /* display: flex; */
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  /* animation: float 5s infinite alternate, colorChange 17s infinite; */

  /* Moved Avatar at top */
  position: relative;
}

.auth-form.connecting {
  animation: float 3s infinite alternate, colorChange 17s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes colorChange {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  33% {
    background-color: rgba(127, 226, 168, 0.9);
  }
  50% {
    background-color: rgba(89, 235, 186, 0.9);
  }
  33% {
    background-color: rgba(127, 226, 168, 0.9);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.auth-form h3 {
  font-size: 1.5em;
  margin-bottom: 1.25em;
  color: #333;
  /* Moved Avatar at top */
  margin-top: 1.25em;
  /* box-shadow: 0 1px 0px 0px var(--primary-color); */
  border-radius: 0px;
}
