.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0.9em;
  border-radius: 2px;
  /* border: 1px solid gray; */
  box-shadow: 0px 0px 3px 1px gray;
  transition: border-radius 0.3s linear, box-shadow 0.3s linear;
}

.logout:hover,
.logout:active {
  border-radius: 25px;
}

.sending,
.sending:hover {
  box-shadow: 0px 0px 6px 1px darkred;
  /* opacity: 0.7; */
  /* cursor: not-allowed; */
  cursor: progress;
}
