.logo-container {
  /* padding: 20px 20px 10px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--header-logo-container-min-width);
  flex: 0 0 auto;
}

@media (min-width: 40rem) {
  .collapsed {
    display: none;
  }
}
