.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* .form-container::after {
  content: url('../../../../../public/assets/images/animals/hello.jpg');
  position: fixed;
  top: 20px;
  right: 20px;
  width: 80px;
  height: auto;
  z-index: 999;
} */

/* .form-container::before {
  content: '';
  display: block;
  background: url('../../../../../public/assets/images/animals/hello.jpg')
    no-repeat center center / cover;
  width: 200px;
  height: 200px;
  margin: -50px auto 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
} */
