.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 1.5em;
  margin-left: 0.5em;
  animation: heartbeat 3s ease-in-out infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}
