/* Doc: https://gist.github.com/chatonode/4ca2bddf9122ee4c6e2e7e5c94905459 */

:root {
  /* Colors */
  /* --header-footer-background-color: #ffffff; */
  --header-footer-background-color: floralwhite;

  --primary-color: #a91638;
  --secondary-color: #a90034;

  --link-color: #36345a;
  --link-hover-color: #36345a;
  --backdrop-gradient: linear-gradient(45deg, #ff8a00, #e52e71, #fae048);

  /* Typography */
  --font-size: 16px;

  /* Layout */
  --container-width: 80vw;
}

/***___ RESET.CSS ___***/
/* @ref-link: https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* @ref-link: https://css-for-js.dev/ */
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***___ MY CUSTOM STYLING___***/

html {
  /* height: 100%; */
  min-height: auto;
  /* todo: to be deleted */
  background: rgb(63, 63, 63);
}

/* Layout */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: #f3f3f3;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* transition: background-color 0.5s ease; */
}

/* Resetter "base" Class */
.base {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}

main {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 77.6vh;
  max-height: 80vh; */
  /* height: 70.4vh; */
  height: 79.4vh;
  max-height: 80vh;
  overflow: auto;
}

section {
  min-height: 70vh;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: clamp(2.25rem, 5vw + 1rem, 3rem);
}

h2 {
  font-size: clamp(1.65rem, 4vw + 0.5rem, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw + 0.4rem, 2.25rem);
}

/* Non-decotared anchor elements */
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  /* text-decoration: underline;   */
}

/* .sidebar {
  grid-column: span 3;
} */

.header {
  font-size: 1.25rem;
}

.header,
.footer {
  background-color: var(--header-footer-background-color);
}

.content {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6em 0;
  box-shadow: 0px 7px 8px 7px #a1a1a1;
}

@media (min-width: 40rem) {
  main {
    height: 77.6vh;
    max-height: 80vh;
  }
}

/* After Reset: More Customization */

.logo-container {
  box-sizing: border-box;
  /* border-bottom: 3px solid var(--primary-color); */
  /* border-bottom-right-radius: 6px 15px; */
  /* border-bottom-left-radius: 16px 40px; */
  box-shadow: 0px 0px 5px -1px var(--primary-color);
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-template-button {
  width: 200px;
  height: 50px;
  background-color: var(--primary-color);
  color: #ffffff;
}

@media (min-width: 40rem) {
  /* TODO */
}
