/* Doc: https://gist.github.com/chatonode/4ca2bddf9122ee4c6e2e7e5c94905459 */

:root {
  /* Colors */
  /** Background  **/
  /* --header-background-light: hsl(210, 100%, 95%); */
  /* --header-box-shadow-light: 0px 2px 3px 2px var(--header-background-light); */
  /* --header-background-light: linear-gradient(
    to top,
    hsl(190.99, 91.61%, 71.96%) 0%,
    hsla(191.27, 91.34%, 71.77%, 0.996) 8.1%,
    hsla(192.03, 90.61%, 71.22%, 0.985) 15.5%,
    hsla(193.19, 89.54%, 70.35%, 0.968) 22.5%,
    hsla(194.67, 88.25%, 69.2%, 0.946) 29%,
    hsla(196.36, 86.87%, 67.8%, 0.92) 35.3%,
    hsla(198.18, 85.49%, 66.17%, 0.891) 41.2%,
    hsla(200.02, 84.2%, 64.34%, 0.86) 47.1%,
    hsla(201.82, 83.07%, 62.33%, 0.83) 52.9%,
    hsla(203.46, 82.14%, 60.17%, 0.799) 58.8%,
    hsla(204.86, 81.45%, 57.87%, 0.77) 64.7%,
    hsla(205.93, 81.02%, 55.46%, 0.744) 71%,
    hsla(206.57, 80.87%, 52.96%, 0.722) 77.5%,
    hsla(206.69, 81%, 50.39%, 0.705) 84.5%,
    hsla(206.19, 89.06%, 47.76%, 0.694) 91.9%,
    hsla(205.04, 100%, 45.1%, 0.69) 100%
  ); */
  --header-background-light: hsl(210, 38%, 95%);
  /* --global-background-light: hsl(210, 38%, 95%); */
  --global-background-light: linear-gradient(
    to bottom,
    hsl(210, 38.46%, 94.9%) 0%,
    hsl(210, 38.46%, 94.9%) 3.7%,
    hsl(209.89, 38.09%, 94.71%) 3.7%,
    hsl(209.89, 38.09%, 94.71%) 7.4%,
    hsl(209.78, 37.74%, 94.52%) 7.4%,
    hsl(209.78, 37.74%, 94.52%) 11.1%,
    hsl(209.68, 37.42%, 94.34%) 11.1%,
    hsl(209.68, 37.42%, 94.34%) 14.8%,
    hsl(209.58, 37.11%, 94.15%) 14.8%,
    hsl(209.58, 37.11%, 94.15%) 18.5%,
    hsl(209.49, 36.83%, 93.96%) 18.5%,
    hsl(209.49, 36.83%, 93.96%) 22.2%,
    hsl(209.4, 36.56%, 93.77%) 22.2%,
    hsl(209.4, 36.56%, 93.77%) 25.9%,
    hsl(209.32, 36.31%, 93.58%) 25.9%,
    hsl(209.32, 36.31%, 93.58%) 29.6%,
    hsl(209.24, 36.07%, 93.39%) 29.6%,
    hsl(209.24, 36.07%, 93.39%) 33.3%,
    hsl(209.16, 35.85%, 93.21%) 33.3%,
    hsl(209.16, 35.85%, 93.21%) 37%,
    hsl(209.09, 35.64%, 93.02%) 37%,
    hsl(209.09, 35.64%, 93.02%) 40.7%,
    hsl(209.02, 35.44%, 92.83%) 40.7%,
    hsl(209.02, 35.44%, 92.83%) 44.4%,
    hsl(208.95, 35.25%, 92.64%) 44.4%,
    hsl(208.95, 35.25%, 92.64%) 48.1%,
    hsl(208.89, 35.06%, 92.45%) 48.1%,
    hsl(208.89, 35.06%, 92.45%) 51.9%,
    hsl(208.83, 34.89%, 92.26%) 51.9%,
    hsl(208.83, 34.89%, 92.26%) 55.6%,
    hsl(208.77, 34.73%, 92.07%) 55.6%,
    hsl(208.77, 34.73%, 92.07%) 59.3%,
    hsl(208.71, 34.57%, 91.89%) 59.3%,
    hsl(208.71, 34.57%, 91.89%) 63%,
    hsl(208.65, 34.42%, 91.7%) 63%,
    hsl(208.65, 34.42%, 91.7%) 66.7%,
    hsl(208.6, 34.28%, 91.51%) 66.7%,
    hsl(208.6, 34.28%, 91.51%) 70.4%,
    hsl(208.55, 34.14%, 91.32%) 70.4%,
    hsl(208.55, 34.14%, 91.32%) 74.1%,
    hsl(208.5, 34.01%, 91.13%) 74.1%,
    hsl(208.5, 34.01%, 91.13%) 77.8%,
    hsl(208.45, 33.89%, 90.94%) 77.8%,
    hsl(208.45, 33.89%, 90.94%) 81.5%,
    hsl(208.41, 33.77%, 90.75%) 81.5%,
    hsl(208.41, 33.77%, 90.75%) 85.2%,
    hsl(208.36, 33.65%, 90.57%) 85.2%,
    hsl(208.36, 33.65%, 90.57%) 88.9%,
    hsl(208.32, 33.54%, 90.38%) 88.9%,
    hsl(208.32, 33.54%, 90.38%) 92.6%,
    hsl(208.28, 33.44%, 90.19%) 92.6%,
    hsl(208.28, 33.44%, 90.19%) 96.3%,
    hsl(208.24, 33.33%, 90%) 96.3%,
    hsl(208.24, 33.33%, 90%) 100%
  );
  /* --global-background-mid: linear-gradient(
    to top,
    hsl(201.11, 100%, 39.02%) 0%,
    hsl(202.8, 84.76%, 42.4%) 8.1%,
    hsl(204.27, 72.5%, 45.9%) 15.5%,
    hsl(205.51, 62.67%, 49.46%) 22.5%,
    hsl(206.53, 61.83%, 53.02%) 29%,
    hsl(207.36, 63.01%, 56.54%) 35.3%,
    hsl(208.02, 64.87%, 59.95%) 41.2%,
    hsl(208.55, 67.39%, 63.21%) 47.1%,
    hsl(208.96, 70.55%, 66.26%) 52.9%,
    hsl(209.28, 74.28%, 69.07%) 58.8%,
    hsl(209.52, 78.46%, 71.58%) 64.7%,
    hsl(209.7, 82.88%, 73.75%) 71%,
    hsl(209.84, 87.21%, 75.53%) 77.5%,
    hsl(209.93, 90.98%, 76.88%) 84.5%,
    hsl(209.98, 93.65%, 77.74%) 91.9%,
    hsl(210, 94.64%, 78.04%) 100%
  ); */
  --footer-background-light: hsl(201.82deg 95.64% 4.91%);
  /* --footer-box-shadow-light: --- */
  /* --footer-background-dark: --- */
  /* --footer-box-shadow-dark: 0px -2px 3px 2px var(var(--footer-background-dark)); */

  /* --body-background-image-alternative: radial-gradient(
    ellipse at center,
    #e1e1e1 0%,
    #dfdfdf 10%,
    #dcdddd 20%,
    #d9dadb 30%,
    #d7d8da 40%,
    #d3d6d9 50%,
    #ced4da 60%,
    #ced2d5 70%,
    #ced0d2 80%,
    #cccecf 90%,
    #cbcccc 95%,
    #c9caca 98%,
    #c7c8c8 100%
  ); */

  --theme-color-transition-duration: 0.3s;

  /** ---  **/

  /** Text  **/

  --text-primary: hsl(201.82deg 100% 10.78%);
  --text-secondary: hsl(0, 0%, 50%);

  /* --footer-text-color-light: hsl(201.82deg 100% 10.78%); */
  --footer-text-color-light: hsl(51, 100%, 96.08%);

  /** ---  **/

  --link-color: #d3c828;
  --link-hover-color: #dbd020;

  /*  ---  */

  /* Typography */
  --default-font-size: 16px;

  /*  ---  */
}

/***___ RESET.CSS ___***/
/* Box sizing rules */
/* @ref-link: https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* @ref-link: https://css-for-js.dev/ */
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

/* @ref-link: https://defensivecss.dev/tip/flexbox-min-content-size/ */
* {
  min-width: 0;
  min-height: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh; /* Else, compatible version is set */ /** NOTE: This is the correct order to make it work. **/
  min-height: 100dvh; /* If compatible client, it counts URL Bar, etc */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***___ MY CUSTOM STYLING___***/

html {
  min-height: auto;
}

/* Layout */
body {
  background: var(--global-background-light);
  font-size: var(--default-font-size);

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  position: relative;

  /* TODO: Check it */
  overflow: hidden;
}

body,
.header,
.root,
.footer {
  width: 100%;
}

/* Color Change */
body,
.header,
.footer {
  transition: background var(--theme-color-transition-duration) linear;
  background-blend-mode: color; /* To make it work with HSL */
}

.header,
.root,
.footer {
  transition: color var(--theme-color-transition-duration) linear; /* Essential to assign (text) color from these 3 main pieces to make this transition work */
}

/* .header:focus,
.header:hover,
.footer:focus,
.footer:hover {
  opacity: 1;
} */

/* TODO: Test, revert (-1px) to (1px) for either header or footer maybe */
/* .header,
.footer {
  box-shadow: 0 -1px 5px 0px var(--text-primary);
} */

.header {
  font-size: 1.25rem;

  background: var(--header-background-light);
  /* box-shadow: var(--header-box-shadow-light); */
}

.root {
  color: var(--text-primary);

  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 1rem;

  background: var(--footer-background-light);
  /* box-shadow: var(--footer-box-shadow-light); */
  color: var(--footer-text-color-light);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6em 0;
}

/* Resetter "base" Class */
.base {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: clamp(2.25rem, 5vw + 1rem, 3rem);
}

h2 {
  font-size: clamp(1.65rem, 4vw + 0.5rem, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw + 0.4rem, 2.25rem);
}

/* Non-decotared anchor elements */
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  /* text-decoration: underline;   */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
label,
a {
  /* overflow-wrap: break-word; */
  overflow-wrap: anywhere;
}

/* Refresh */
main {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}

/* Customize main after resetting */
main {
  /* height: 100%; */
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1.2em;
  flex-grow: 1;

  /* For Dashboard Sidebar */
  position: relative;
}

section {
  display: flex;
  /* margin: 1rem; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* .dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* section h2 {
  text-shadow: 2px 2px 0 transparent, 4px 4px 0 var(--header-background-light),
    6px 6px 0 var(--text-primary);
} */

@media (min-width: 40rem) {
  /* main {
    height: 77.6vh;
    max-height: 80vh;
  } */
}

/* After Reset: More Customization */

/** Disable Next.js Error **/
nextjs-portal {
  display: none;
}

/** Errors **/
.error-section {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  /* width: 100%;
  height: 100%; */
  border-radius: 20px;
  padding: 1em;

  /* background: repeating-linear-gradient( 225deg, transparent, transparent 7px, black 8px, black 8px ); */
  /* box-shadow: 0px -1px 5px 2px darkred; */
  transition: box-shadow 0.3s ease-in;
}

.error-section:hover,
.error-section:focus {
  box-shadow: 0px -1px 5px 2px red;
}

.error-section h2 {
  color: #ff0000; /* Red color for error headings */
  margin-bottom: 1em;
}

.error-section p {
  font-size: 1.2em;
  color: #333; /* Dark color for error details */
}

/** END of Errors **/

.logo-container {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-template-button {
  width: 200px;
  height: 50px;
  background-color: var(--text-primary);
  color: #ffffff;
}

@media (min-width: 40rem) {
  /* TODO */
}

@media screen and (prefers-color-scheme: dark) {
  /* TODO */
  /* body {
    background: var(--text-primary);
    color: var(--global-background-light);
  } */
}
