.container {
  /* animation: fade 0.5s ease-in-out forwards; */
  /* backdrop-filter: blur(1px); */
  z-index: 9999;
}

/* @keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* .container.exit {
  animation: fadeReverse 0.5s ease-in-out forwards;
}

@keyframes fadeReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.blob {
  background: #b3ff01;
  border-radius: 50%;
  margin: 10px;
  height: 50px;
  width: 50px;

  box-shadow: 0 0 0 0 #b3ff01;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b3ff01b9;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #b3ff0100;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b3ff0100;
  }
}
