.container {
  z-index: 9999;
  /* animation: fade 0.5s ease-in-out forwards; */
  animation: backdrop-filter 0.5s ease-in-out;
  backdrop-filter: blur(1px);
}

.blob {
  /* background: #b3ff01; */
  background: #a91638;
  border-radius: 50%;
  margin: 10px;
  height: 50px;
  width: 50px;

  /* box-shadow: 0 0 0 0 #b3ff01; */
  box-shadow: 0 0 0 0 #a91638;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #a91638b9;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #b3ff0100;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b3ff0100;
  }
}
