/* 
.form-group-list {

} */

.form-group {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  height: 130px;
  width: auto;
  /* transition: opacity 0.7s ease-in-out, visibility 0.8s ease-in-out; */
  /* transition: filter 0.5s ease-in, width 0.5s ease-in; */
}

/* .form-group.connecting { */
/* opacity: 0;
  visibility: hidden; */
/* width: 0;
  filter: blur(1px);
} */

.form-group label {
  display: block;
  font-size: 1em;
  /* margin-bottom: 6px; */
  color: #333;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.form-group label.connecting {
  opacity: 0;
  visibility: hidden;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 8px 1px #cccccc;

  transition: width 1s linear, height 0.8s linear, padding 1.2s linear,
    border 1s ease-in, box-shadow 0.5s ease-in;
}

.form-group input:focus-visible,
.form-group input:hover {
  outline: none;
  box-shadow: 0 0 20px 2px #cccccc;
}

/* .form-group input:hover {
  box-shadow: 0 0 6px 1px #ebebeb;
} */

.form-group input.connecting {
  width: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.error {
  width: 100%;
  display: flex;
}

p.error-message {
  color: red;
  /* font-size: 0.8em; */
  font-size: 0.7em;
  text-align: left;
  margin-left: 1em;
}

.form-group input.invalid {
  box-shadow: 0 0 18px 1px #ec5b5bd6;
  border-color: #c12525ba;
}

.form-group input.valid {
  box-shadow: 0 0 12px 1px green;
  border-color: #24aa24a6;
}

