nav.navigation-container {
  width: 100%;
  display: flex;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.navigation-list li {
  list-style: none;
  position: relative;
  display: flex;
}

/* .navigation-list li a { */
/* padding: 0.8em 0; */
/* border-bottom: 0.2em solid transparent; */
/* transition: border-color
    linear(
      0 0%,
      0 1.8%,
      0.01 3.6%,
      0.03 6.35%,
      0.07 9.1%,
      0.13 11.4%,
      0.19 13.4%,
      0.27 15%,
      0.34 16.1%,
      0.54 18.35%,
      0.66 20.6%,
      0.72 22.4%,
      0.77 24.6%,
      0.81 27.3%,
      0.85 30.4%,
      0.88 35.1%,
      0.92 40.6%,
      0.94 47.2%,
      0.96 55%,
      0.98 64%,
      0.99 74.4%,
      1 86.4%,
      1 100%
    ); */
/* transition-duration: calc(var(--global-transition-duration) * 2); */
/* } */

.navigation-list li a::after {
  content: '';
  position: absolute;
  /* left: 0; */
  left: 25%;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: width ease;
  transition-duration: var(--global-transition-duration);

  display: none;
}

.navigation-list li a.active::after,
.navigation-list li a:hover::after,
.navigation-list li a:focus::after {
  /* left: calc(0% + var(--padding)); */
  /* width: calc((100% - var(--padding)) / 2); */
  width: 50%;
  background-color: var(
    --link-hover-color
  ); /* Set the color of the bottom line */
}

@media (min-width: 40rem) {
  .navigation-container {
    height: 48px;
  }

  .navigation-list {
    height: 100%;

    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
    gap: 1em;
  }

  .navigation-list li a {
    /* padding: 0.75em 0; */
    padding: 0.75em 0 0.25em 0;
  }

  .navigation-list li a::after,
  .navigation-list li a:hover::after,
  .navigation-list li a:focus::after {
    display: flex;
  }
}
