.waves-container {
  position: absolute;
  overflow: hidden;
  width: inherit;
  height: 10%;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

.upper {
  bottom: 10%;
  /* visibility: hidden; */
}

.waves-container.connecting {
  animation: raiseWaves 1s 0.3s linear forwards;
}

@keyframes raiseWaves {
  100% {
    height: 15%;
  }
}

.waves {
  position: absolute;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  background: repeat-x;
}

.waves.connecting {
  animation: moveWaves 7s 0.3s linear alternate infinite;
}

@keyframes moveWaves {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%) scale(1.2);
    width: 300%;
  }
}
