.background-container {
  position: absolute;
  overflow: hidden;
  width: inherit;
  width: 100%;
  height: 100%;
  top: 23%;
  left: 0;
  border-radius: inherit;
  /* z-index: -1; */
  visibility: hidden;
}

.background {
  position: absolute;
  /* overflow: hidden; */
  /* width: 100%; */
  /* height: auto; */
  background: repeat-x;
}

.background.connecting {
  visibility: visible;
  animation: appearBackground 3s linear forwards;
}

@keyframes appearBackground {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.1;
  }
  100% {
    /* opacity: 0.8; */
    opacity: 0.9;
    transform: scale(1.2);
  }
}
