/* UserListComponent.module.css */

.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  /* background: #222; */
  background: #adadad;
  position: relative;
  transition: background-color 0.5s ease;
}

.container {
  background: #333;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

.title {
  margin: 0;
  padding: 20px;
  background: #444;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #555;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
}

.userList {
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #555;
  transition: background-color 0.3s ease;
}

.input[type='checkbox'] {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.input[type='checkbox']:checked {
  transform: scale(1.2);
}

.label {
  flex: 1;
  color: #ddd;
}

.button {
  display: block;
  width: 100%;
  padding: 15px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background: #555;
}

.unselectAll {
  background: #666;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.unselectAll:hover {
  background: #777;
}
