nav.navigation-container {
  width: 100%;
  display: flex;
  /* flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
}

.navigation-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

.navigation-list li {
  padding: 0.4em 0.6em;
  border-radius: 0.55em;

  transition: padding ease, background-color ease;
  transition-duration: var(--global-transition-duration);
}

li.active {
  display: flex;
  background-color: var(
    --gradient-light-end-color
  ); /* Final dark color of the sidebar */

  /* border-right: 5px solid;
  padding-right: 5px; */
}

a.active {
  /* color: var(--text-secondary); */
  color: var(--text-primary);
}
