.sidebar-container {
  z-index: 9996;

  background: #80dbff;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%; */
  width: var(--sidebar-min-width-smaller-screens);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transform: translate(-100%);
  transition: transform 0.26s ease-in-out;
  padding: 0 1em;
}

.collapsed {
  transform: translate(0%);
}


@media (min-width: 40rem) {
  .sidebar-container,
  .collapsed {
    width: var(--sidebar-min-width-larger-screens);
    flex: 0 0 auto;
    position: relative;
    transform: none;
    /* width: var(--sidebar-width-larger-screens); */
    /* height: 100%; */
  }
  /* 
  button.dashboard-opener {
    display: none;
  } */

}
