.container {
  /* flex: 0.1 1 auto; */

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 1.5em; */
  margin: 1.5em 0;
  gap: var(--sidebar-menu-item-gap);
  color: var(--text-primary);
}

@media (min-width: 40rem) {
  .container {
    display: none;
  }
}
