.cloud {
  /* margin-right: 15%; */
  width: 100%;
  height: 100%;
}

.cloud.far {
  transform: scale(0.3) rotateX(45deg);
}

.cloud.main {
  transform: scale(1.5) rotateY(180deg);
}

@media (min-width: 40rem) {
  .cloud {
    width: 220px;
    height: 220px;
  }
}
