.container {
  /* width: 50%; */
  /* flex: 0 1 auto; */
  flex: 0 1 1024px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.scene {
  width: 100%;
  height: 100%;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background: repeating-linear-gradient(90deg, #fbf859, #000000); */
  /* padding: 1em; */
  border-radius: 20px;
}

.scene img {
  z-index: 4; /* to hide lines */

  height: auto;
  width: auto;
  max-height: 100%;
  pointer-events: none;

  background-size: cover;
  background-position: center;

  border-radius: inherit;

  user-select: none;
}

.sender {
  width: 70%;
  height: 100%;
  flex: 1 0 70%;

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: 30px;
}

.sender img {
  box-shadow: -6px 7px 2px 0px rgb(90 81 76);
}

@media (min-width: 40rem) {
  .sender img {
    box-shadow: -12px 15px 5px 0px rgb(90 81 76);
  }
}

.line {
  content: '';
  position: absolute;
  /* right: 0; */
  /* left: calc(50% + 18.75%); */
  /* left: calc(50% + 19.35%); */
  left: calc(50% - 11%);
  width: 0;
  /* height: 3px; */
  height: 2px;
  /* background: var(--text-primary); */
  /* box-shadow: 0 0 15px 0 transparent; */
  box-shadow: 0 0 8px 0 transparent, 0 0 15px 0 transparent;

  animation: data-flow 3s ease-in-out forwards;
  text-align: left; /* ?? */
  border-radius: 1px;
  /* z-index: 5; */
}

/* @media (min-width: 40rem) {
  .line {
    animation-duration: 6s;
  }
} */

.line.one {
  --primary-color: #04235f;
  --top-start: 50.5%;
  --top-end: 17.5%;
  animation-delay: 0.3s;

  top: var(--top-end);

  /* background: var(--primary-color); */
  background: linear-gradient(90deg, #d9aa00, var(--primary-color));
}

.line.two {
  --primary-color: #fe6ccb;
  --top-start: 50.5%;
  --top-end: 50.5%;
  animation-delay: 0.6s;

  top: var(--top-end);

  /* background: var(--primary-color); */
  background: linear-gradient(90deg, #d9aa00, var(--primary-color));
}
.line.three {
  --primary-color: #341f91;
  --top-start: 50.5%;
  --top-end: 82.5%;
  animation-delay: 0.9s;

  top: var(--top-end);

  /* background: var(--primary-color); */
  background: linear-gradient(90deg, #d9aa00, var(--primary-color));
}

@keyframes data-flow {
  0% {
    width: 0;

    /* box-shadow: 0 0 15px 0 transparent; */
    box-shadow: 0 0 8px 0 transparent, 0 0 15px 0 transparent;
  }
  100% {
    /* width: 31.25%; */
    /* width: 31%; */
    /* width: 46%; */
    width: 80%;

    /* box-shadow: 0 0 15px 0 var(--primary-color); */
    box-shadow: 0 0 8px 0 #d9aa00, 0 0 15px 0 var(--primary-color);
  }
}

.clients {
  width: 30%;
  height: 100%;
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
  width: 100%;
  flex: 1 0 33%;
  height: auto;
  position: relative;

  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.client img {
  z-index: 4;
  box-shadow: 0 0 6px 0 transparent;
  opacity: 0;
  transform: scale(0.75);
  transition: transform 0.5s ease-in-out;

}

.client:focus img,
.client:hover img {
  transform: scale(1);
  z-index: 5;
}

.client.entered img {
  --animated-box-shadow-50: 10px 0 1px 0 var(--secondary-color),
    5px 0 3px 1px var(--primary-color);
  --animated-box-shadow-100: 0px 0 4px 2px var(--secondary-color),
    0 0 4px 4px var(--primary-color);

  animation: appear 1s ease-in-out forwards;
}

@media (min-width: 40rem) {
  .client.entered img {
    --animated-box-shadow-50: 20px 0 1px 0 var(--secondary-color),
      10px 0 3px 1px var(--primary-color);
    --animated-box-shadow-100: 0px 0 8px 4px var(--secondary-color),
      0 0 8px 8px var(--primary-color);
  }
}

.client.one.entered img {
  animation-delay: 2.8s; /* 3.3s - 0.5s */

  --primary-color: #04235f;
  --secondary-color: #8cecf5;
}

.client.two.entered img {
  animation-delay: 3.1s; /* 3.6s - 0.5s */

  --primary-color: #fe6ccb;
  --secondary-color: #f5c8fc;
}
.client.three.entered img {
  animation-delay: 3.4s; /* 3.9s - 0.5s */

  --primary-color: #341f91;
  --secondary-color: #a6eafc;
}

@keyframes appear {
  50% {
    opacity: 0;
    /* box-shadow: 20px 0 1px 0 #eece0c, 10px 0 3px 0px #fee960; */
    box-shadow: var(--animated-box-shadow-50);
  }

  100% {
    opacity: 1;
    /* box-shadow: 0 0 4px 4px #eece0c, 0 0 8px 8px #fee960; */
    /* box-shadow: 0px 0 1px 1px #eece0c, 0 0 2px 2px #fee960; */
    /* box-shadow: 0px 0 1px 1px var(--primary-color),
      0 0 2px 2px var(--secondary-color); */
    box-shadow: var(--animated-box-shadow-100);
  }
}

/* .image,
.image img {
  border-radius: inherit;
} */

/* .image {
  height: auto;
  position: relative;
}

.image img {
  height: auto;
  pointer-events: none;

  background-size: cover;
  background-position: center;
} */
