.container {
  /* width: 50%; */
  /* flex: 0 1 auto; */
  flex: 0 1 1024px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.scene {
  width: 100%;
  height: 100%;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scene img {
  z-index: 4; /* to hide lines */

  height: auto;
  width: auto;
  max-height: 100%;
  pointer-events: none;

  background-size: cover;
  background-position: center;

  border-radius: inherit;
}

.sender {
  width: 70%;
  height: 100%;
  flex: 1 0 70%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}

.line {
  content: '';
  position: absolute;
  /* right: 0; */
  /* left: calc(50% + 18.75%); */
  left: calc(50% + 19.35%);
  width: 0;
  height: 3px;
  background: var(--text-primary);
  animation: data-flow 3s ease-in-out forwards;
  text-align: left;
}

.line.one {
  top: 17.5%;
  animation-delay: 0.3s;
  background: #04235f;
}
.line.two {
  top: 50.5%;
  animation-delay: 0.6s;
  background: #fe6ccb;
}
.line.three {
  top: 82.5%;
  animation-delay: 0.9s;
  background: #341f91;
}

@keyframes data-flow {
  0% {
    width: 0;
  }
  100% {
    /* width: 31.25%; */
    width: 31%;
  }
}

.clients {
  width: 30%;
  height: 100%;
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
  width: 100%;
  flex: 1 0 33%;
  height: auto;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: 50%;
}

/* .image,
.image img {
  border-radius: inherit;
} */

/* .image {
  height: auto;
  position: relative;
}

.image img {
  height: auto;
  pointer-events: none;

  background-size: cover;
  background-position: center;
} */
