.container {
  flex: 0 1 1024px;
  /* flex: 1 0 40%; */

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
  
  user-select: none;
}

.image,
.image img {
  border-radius: inherit;
}

.image {
  height: auto;
  position: relative;
  border-radius: 20px;

  box-shadow: -2px 2px 0px 1px hsl(240.96deg 100% 24.51%),
    -4px 4px 11px 7px hsl(240.96deg 100% 24.51%);
  transition: box-shadow ease-in-out;
  transition-duration: calc(var(--global-transition-duration) * 2);
}

.image:focus,
.image:hover {
  box-shadow: -2px 2px 0px 1px hsl(240.96deg 100% 24.51%),
    -4px 4px 17px 10px hsl(240.96deg 100% 24.51%);
}

@media (min-width: 40rem) {
  .image {
    box-shadow: -4px 4px 0px 2px hsl(240.96deg 100% 24.51%),
      -8px 8px 22px 14px hsl(240.96deg 100% 24.51%);
  }

  .image:focus,
  .image:hover {
    box-shadow: -4px 4px 0px 2px hsl(240.96deg 100% 24.51%),
      -8px 8px 33px 21px hsl(240.96deg 100% 24.51%);
  }
}

.image img {
  pointer-events: none;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(80%);
  transition: filter ease-in-out;
  transition-duration: calc(var(--global-transition-duration) * 5);
}

.image:focus img,
.image:hover img {
  filter: brightness(100%);
}

@media (min-width: 40rem) {
  .container {
    justify-content: flex-start;
  }
}
