.container {
  opacity: 0.1;
  animation: show 1s 0.3s ease-in forwards;
}

.draw-path {
  stroke-dasharray: 1 5 10 20 35 55 72 180;
  stroke-dashoffset: 1000;
  animation: draw 2s ease-in forwards;
}

@keyframes draw {
  to {
    stroke-dasharray: none;
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}
