/* PropertyDeveloperItem.module.css */

.item {
  width: 100%;
  flex: 0 0 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  padding: 1em;
  margin: 0 1em;

  background-color: var(--color-palette-end);
  transition: background-color var(--global-transition-duration) ease-in;
}

@media (min-width: 40rem) {
  .item {
    flex-basis: 100px;
  }
}

.item:focus,
.item:hover {
  background-color: var(--color-palette-4);
}

.user-info {
  height: 100%;
  flex: 1 0 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1em;
}

.full-name,
.email {
  flex: 1 0 auto;
}

.full-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--color-palette-2);
}

@media (min-width: 40rem) {
  .full-name {
    font-size: 1.2em;
  }
}

.email {
  margin-bottom: 0;

  /* color: var(--text-secondary); */
  color: var(--color-palette-3);
  transition: color var(--global-transition-duration) linear;
}

.item:focus .email,
.item:hover .email {
  color: var(--color-palette-end);
}

.actions {
  height: 75%;
  flex: 0 1 auto;
  margin: 0 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
