.title {
  text-shadow: rgb(208, 208, 208) 1px 1px 15px, transparent 1px 3px 5px,
    white 16px 16px 0px;
  color: transparent;
  transition: text-shadow ease-in-out forwards, color ease-in-out forwards;
  transition-duration: var(--global-transition-duration);
  /* animation: appear ease-in-out infinite alternate;
  animation-duration: 1s; */
}
/* 
.title:focus,
.title:hover {
  text-shadow: 0 0 transparent;
  color: white;
} */

/* @keyframes appear {
  100% {
    text-shadow: 0 0 transparent;
    color: white;
  }
} */
