.container {
  /* height: 100vh;
  width: 100vw; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* flex-wrap: wrap-reverse; */
  flex-wrap: wrap-reverse;
  overflow: hidden;
}

.content {
  /* width: 25%; */
  /* flex: 1 0.5 auto; */
  flex: 1 0 50%;
  position: relative;
  padding: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
}

.button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #ae2d59;
  padding: 0.75rem 1.5rem;
  margin-top: 3rem;
  cursor: pointer;
}

.button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}


@media (min-width: 40rem) {
  .container {
    /* flex-direction: column-reverse; */
    flex-wrap: nowrap;
  }

  .content {
    margin: 2rem;
  }


}
