.container {
  margin: 5%;
  /* margin-top: 10%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

/* .title {
    margin-bottom: 20px;
} */

.transitions-item {
  overflow: hidden;
  width: 100%;
  /* color: white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  /* white-space: nowrap; */
  /* cursor: pointer; */
  line-height: 80px;
}

@media (min-width: 40rem) {
  /* .container {
    margin-top: 10%;
  } */
}
