.container {
  height: 100%;
  /* flex: 1 0 auto; */
  width: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 2em; */

  /* margin: 5%; */
  /* margin-top: 10%; */
  margin-left: 5%;

  /* font-family: 'Poppins', sans-serif; */
}

.content {
  z-index: 5;
  height: 100%;
  flex: 1 0 70%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 2em; */
  gap: 1em;

  /* margin: 5%; */
  /* margin-top: 10%; */
}

/* ********** */

.features {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.feature {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  /* border: 1px solid #ae2d59; */
  /* border: 1px solid #ffeb3b; */
  border-radius: 10px;
  /* background: linear-gradient(225deg, #ffeb3b, transparent); */
  border-radius: 10px;
  /* Use a box shadow to create a subtle depth effect for the features */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

  background: linear-gradient(45deg, #ffe500, #ffe924, #fda920);
  box-shadow: 0 0 1px 0px #ffeb3b, 0 0 2px 2px #ffc107, 0 0 3px 0px #ff9800,
    0 0 4px 1px #ff5722, 0 1px 5px 5px #ffc83b;
  /* 0 0 2px 6px #969ee6; */
}

.icon {
  /* Use a large font size for the feature icon */
  font-size: 3rem;
  /* Use a color that matches your app's theme for the feature icon */
  color: #ae2d59;
  /* Use some margin to create some space between the icon and the title */
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Space Mono', monospace;

  margin-bottom: 0.25rem;
}

.text {
  /* Use a normal font size for the feature text */
  font-size: 1rem;
  /* Use a lighter font weight for the feature text */
  font-weight: 300;
}

@media (min-width: 40rem) {
  .features {
    /* flex-direction: row; */
    margin: 2rem;
  }

  .feature {
    margin: 1rem;
    padding: 1rem;
  }
  
}
