
.container {
  display: flex;
  align-items: center;
  /* height: 100%; */
  justify-content: center;
  margin-top: 5%;

  --height: 50px;
}

.trail-container {
  width: 100%;
}

.trails-text {
  position: relative;
  width: 100%;

  height: var(--height);
  line-height: var(--height);
  /* color: black; */
  /* font-size: 6em; */
  /* font-size: 3em; */
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  /* text-transform: uppercase; */
  overflow: hidden;
}

.trails-text > div {
  padding-right: 0.05em;
  overflow: hidden;
}

@media (min-width: 40rem) {

  .container {
    --height: 110px;
  }

  .trails-text {
    font-size: 3em;
    text-transform: uppercase;
    /* height: 110px; */
    /* line-height: 110px; */
  }
}
