.container {
  width: 100%;
  flex: 1 0 auto;

  background: linear-gradient(
    to right,
    var(--color-palette-start),
    var(--color-palette-2)
  );
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2em;
}
