.backdrop {
  z-index: 9998;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* Modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* No explicit opacity or transition properties here */
.backdrop-entering,
.backdrop-entered {
  opacity: 1;
}

.backdrop-exiting,
.backdrop-exited {
  opacity: 0;
}
