.overlay {
  z-index: var(--overlay-z-index);
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* width: 100vw; */
  /* height: 100vh; */
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
