/* .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.modal {
  z-index: calc(var(--overlay-z-index) + 2);

  background: linear-gradient(
    126deg,
    rgba(244, 244, 244, 1) 0%,
    rgb(255, 170, 187) 100%
  );
  margin: 0 1.5em;
  padding: 1em;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 90vw;
  height: auto;
  max-height: 50vh;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 1px white; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* text-wrap: balance; */
}

.content {
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  /* @ref-link: https://www.youtube.com/watch?v=cH8VbLM1958 */
  overflow-wrap: break-word;
  min-width: 0;
  /* --- */
  width: 100%;
  box-shadow: 0 0 25px 15px #ffffff5c;
  /* box-shadow: inset 0px 33px 25px 0 #000, inset 0 66px 15px 0px #ccc,
    inset 0 99px 5px 0px #fff; */
  border-radius: 5px;
  /* outline: 0 solid white; */
  transition: transform 0.3s ease-in;
  background-color: #ffffff12;
}

/* .content:hover,
.content:focus {
  transform: scale(1.02);
} */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 100%;
}

.title h2 {
  width: 100%;
  height: auto;
  white-space: break-spaces;
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed */
}
