/* .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.modal {
  z-index: 9999;

  background: linear-gradient(
    126deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(208, 159, 169, 1) 100%
  );
  margin: 0 1.5em;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  width: 90vw;
  height: auto;
  max-height: 50vh;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 1px white; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* text-wrap: balance; */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 100%;
}

.title h2 {
  width: 100%;
  height: auto;
  white-space: break-spaces;
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed */
}
